<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>标签新增</title>
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/me.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" />
</head>
<body>
<!--导航-->
<nav th:replace="admin/_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <!--手机端自适应 stackable-->
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class="mini home icon "></i>&nbsp;&nbsp;游记</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>&nbsp;分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>&nbsp;&nbsp;&nbsp;标签</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/images/footer.jpeg" alt="" class="ui avatar image">
                        yuMoyu
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--二级导航-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/tags/input}" class="active teal item">新增</a>
            <a href="#" th:href="@{/admin/tags}" class="item">列表</a>
        </div>
    </div>
</div>
<!--  中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <form action="#" method="post" th:object="${tag}" th:action="*{id}==null ? @{/admin/tags} : @{/admin/tags/{id}(id=*{id})}" class="ui form">
            <!--更新数据时，点击编辑按钮，前端向后台传入id，后台处理后向前台发送一个tag对象-->
            <!--从tag里面获取id，提交时传给form，若id不为空，则执行更新方法editPost-->
            <input type="hidden" name="id" th:value="*{id}">
            <!--消息不通过，标红-->
            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">名称</label>
                    <!--从控制器拿到tag，赋值给object，再从object拿到值，放入name-->
                    <input type="text" name="name" placeholder="分类名称" th:value="*{name}">
                </div>
            </div>
            <!--前端校验-->
            <div class="ui error message"></div>
            <!--后端校验 存放错误信息-->
            <!--/*/
            <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
               <i class="close icon"></i>
               <div class="header">验证失败</div>
               <p th:errors="*{name}">提交信息不符合规则</p>
            </div>
            /*/-->
            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button class="ui teal submit button">提交</button>
            </div>
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<!--  底部-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/footer.jpeg" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新游记</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">游圆明园</a>
                    <a href="#" class="item">游圆明园</a>
                    <a href="#" class="item">游圆明园</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我们</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email</a>
                    <a href="#" class="item">QQ</a>
                    <a href="#" class="item">微信</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">游记介绍</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">交流旅游中遇到的人与风景，与下一个自己相遇。</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright @ 2020 - 2021 yuMoyu</p>
    </div>
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>

<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        // 如果有此样式，就去除掉
        $('.m-item').toggleClass('m-mobile-hide');
    });
    //初始化下拉组件
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    //表单验证规则
    $('.ui.form').form({
        fields : {
            title : {
                identifier : 'name',
                rules:[{
                    type: 'empty',
                    prompt: '请输入分类名称'
                }]
            }
        }
    });
    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>

</body>

</html>
