body {
    background: url("../images/bg.png");
}

/*四周*/
.m-padded-mini {
    padding: 0.2em !important;
}
.m-padded-tiny {
    padding: 0.3em !important;
}
.m-padded {
    padding: 1em !important;
}
/*右边空隙*/
.m-padded-right-mini {
    padding: 0.2em !important;
}
/*上下*/
.m-padded-tb-mini{
    /*1个em 14个像素*/
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny{
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-small{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}
/*响应式*/
.m--padded-lr-reponsive {
    padding-left: 4em !important;
    padding-right: 4em !important;
}
/*margin*/
.m-margin-top-small {
    margin-top: 0.5em !important;
}
.m-margin-top {
    margin-top: 1em !important;
}
.m-margin-top-large {
    margin-top: 2em !important;
}
.m-margin-tb-tiny{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-bottom-small {
    margin-bottom: 0.5em !important;
}
/*字体*/
.m-text {
    font-weight: 300 !important;
    letter-spacing:1px !important;
    line-height:1.8;
}
.m-text-thin {
    font-weight: 300 !important;
}
.m-text-spaced {
    letter-spacing:1px !important;
}
.m-text-lined {
    line-height:1.8;
}
/*透明度*/
.m-opacity-mini {
    opacity: 0.8 !important;
}
.m-opacity-tiny {
    opacity: 0.6 !important;
}
/*位置position*/
.m-right-top {
    position: absolute;
    top:0;
    right: 0;
}
.m-right-top {
    position: absolute;
    top:0;
    right: 0;
}
.m-fixed {
    position:fixed !important;
    /*堆叠顺序*/
    z-index: 10 !important;
}
.m-right-bottom {
    bottom:0 !important;
    right: 0 !important;
}
/*显示属性*/

/*取消换行*/
.m-inline-block {
    display: inline-block !important;
}
.m-container {
    max-width: 72em !important;
    margin: auto !important;
}
.m-container-small {
    max-width: 60em !important;
    margin: auto !important;
}
/*shadow*/
.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}
/*color*/
.m-black {
    color:#333 !important;
}
.m-teal {
    color: #00B5AD !important;
}
/*手机端处理，媒体查询*/
/*非手机端隐藏*/
.m-mobile-show {
    display: none !important;
}
@media  screen and (max-width:768px){
    .m-mobile-hide {
        display: none !important;
    }
    /*手机端出来*/
    .m-mobile-show {
        display: block !important;
    }
    .m-padded-lr-reponsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-padded-lr-clear {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-wide {
        width: 100% !important;
    }
}